In [8]:
import os
import pandas as pd
from simpledbf import Dbf5

In [59]:
import os
import pandas as pd
from simpledbf import Dbf5

for file in os.listdir('dbf'):
    if file.endswith(".dbf"):
        dbf = Dbf5('dbf/' + file, codec='ISO-8859-1')
        print(dbf)
        dbf.to_csv("csv/" + os.path.splitext(file)[0] + ".csv")
        
lista = []
for file_csv in os.listdir('csv'):
    #print(file_csv)
    #chunks = pd.DataFrame(chunks)
    chunks = pd.read_csv("csv/" + file_csv ,encoding= 'ISO-8859-1')
    chunks_lista = chunks
    lista.append(chunks_lista)
    df2 = pd.concat(lista)
df2.to_csv("csv_concat/" + os.path.splitext(file)[0] + ".csv",index=False)

<simpledbf.simpledbf.Dbf5 object at 0x00000223AE8262E0>
<simpledbf.simpledbf.Dbf5 object at 0x00000223B340BE80>
<simpledbf.simpledbf.Dbf5 object at 0x00000223B35F0AF0>

c:\users\yuan\miniconda3\envs\jupyter_conda_python_3.8\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [60]:
chunks = pd.read_csv("csv_concat/wwwwwwwwwwwwwwwwwww.csv" ,encoding= 'ISO-8859-1')
chunks

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,AZT3TC_NFV,IMU_HEP_B,VAC_HEP_B,OUTRO_ARV,OUT_ARV_ES,EVOLUCAO,EVO_OUTR,DT_OBITO,CAT,MUCOSA
0,2,Z209,2010-01-11,201002,2010,35,355410,1352.0,4050665.0,2010-01-11,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.0,2.0
1,2,Z209,2010-01-07,201001,2010,35,355410,1352.0,4050665.0,2010-01-07,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
2,2,Z209,2010-01-26,201004,2010,35,355410,1352.0,4050665.0,2010-01-26,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
3,2,Z209,2010-01-15,201002,2010,35,350450,1341.0,2083604.0,2010-01-11,...,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,1.0,2.0
4,2,Z209,2010-01-13,201002,2010,23,230440,1519.0,2561417.0,2010-01-13,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104644,2,Z209,2010-12-20,201051,2010,35,355030,1331.0,2077426.0,2010-12-18,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
104645,2,Z209,2010-12-02,201048,2010,35,355070,1576.0,2765845.0,2010-12-02,...,2.0,2.0,1.0,2.0,NaN,4.0,NaN,NaN,1.0,2.0
104646,2,Z209,2010-12-31,201052,2010,35,355030,1331.0,2077426.0,2010-12-31,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
104647,2,Z209,2010-12-08,201049,2010,41,410830,1363.0,5061989.0,2010-12-08,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,9.0
104648,2,Z209,2010-12-04,201048,2010,41,410830,1363.0,5061989.0,2010-12-04,...,9.0,9.0,9.0,9.0,NaN,4.0,NaN,NaN,1.0,2.0

In [7]:
for file in os.listdir('dbf'):
    if file.endswith(".dbf"):
        dbf = Dbf5('dbf/' + file, codec='ISO-8859-1')
        print(dbf)
        dbf.to_csv("csv/" + os.path.splitext(file)[0] + ".csv")
        
frames = [ pd.read_csv("csv/" + file_csv ,encoding= 'ISO-8859-1') for file_csv in os.listdir('csv') ]
result = pd.concat(frames)
display(result)

<simpledbf.simpledbf.Dbf5 object at 0x00000223AC127EE0>
<simpledbf.simpledbf.Dbf5 object at 0x00000223A96CC910>
<simpledbf.simpledbf.Dbf5 object at 0x00000223AC127A00>

In [36]:
frames = [ pd.read_csv("csv/" + file_csv ,encoding= 'ISO-8859-1') for file_csv in os.listdir('csv') ]
result = pd.concat(frames)
display(result)

C:\Users\Yuan\AppData\Local\Temp/ipykernel_3780/2700768182.py:1: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  frames = [ pd.read_csv("csv/" + file_csv ,encoding= 'ISO-8859-1') for file_csv in os.listdir('csv') ]

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,AZT3TC_NFV,IMU_HEP_B,VAC_HEP_B,OUTRO_ARV,OUT_ARV_ES,EVOLUCAO,EVO_OUTR,DT_OBITO,CAT,MUCOSA
0,2,Z209,2010-01-11,201002,2010,35,355410,1352.0,4050665.0,2010-01-11,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.0,2.0
1,2,Z209,2010-01-07,201001,2010,35,355410,1352.0,4050665.0,2010-01-07,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
2,2,Z209,2010-01-26,201004,2010,35,355410,1352.0,4050665.0,2010-01-26,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
3,2,Z209,2010-01-15,201002,2010,35,350450,1341.0,2083604.0,2010-01-11,...,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,1.0,2.0
4,2,Z209,2010-01-13,201002,2010,23,230440,1519.0,2561417.0,2010-01-13,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34878,2,Z209,2010-12-20,201051,2010,35,355030,1331.0,2077426.0,2010-12-18,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
34879,2,Z209,2010-12-02,201048,2010,35,355070,1576.0,2765845.0,2010-12-02,...,2.0,2.0,1.0,2.0,NaN,4.0,NaN,NaN,1.0,2.0
34880,2,Z209,2010-12-31,201052,2010,35,355030,1331.0,2077426.0,2010-12-31,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
34881,2,Z209,2010-12-08,201049,2010,41,410830,1363.0,5061989.0,2010-12-08,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,9.0
34882,2,Z209,2010-12-04,201048,2010,41,410830,1363.0,5061989.0,2010-12-04,...,9.0,9.0,9.0,9.0,NaN,4.0,NaN,NaN,1.0,2.0

In [51]:
lista = []
for file_csv in os.listdir('csv'):
    #print(file_csv)
    #chunks = pd.DataFrame(chunks)
    chunks = pd.read_csv("csv/" + file_csv ,encoding= 'ISO-8859-1')
    chunks_lista = chunks
    lista.append(chunks_lista)
    df2 = pd.concat(lista)
display(df2)

c:\users\yuan\miniconda3\envs\jupyter_conda_python_3.8\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,AZT3TC_NFV,IMU_HEP_B,VAC_HEP_B,OUTRO_ARV,OUT_ARV_ES,EVOLUCAO,EVO_OUTR,DT_OBITO,CAT,MUCOSA
0,2,Z209,2010-01-11,201002,2010,35,355410,1352.0,4050665.0,2010-01-11,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.0,2.0
1,2,Z209,2010-01-07,201001,2010,35,355410,1352.0,4050665.0,2010-01-07,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
2,2,Z209,2010-01-26,201004,2010,35,355410,1352.0,4050665.0,2010-01-26,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,9.0,2.0
3,2,Z209,2010-01-15,201002,2010,35,350450,1341.0,2083604.0,2010-01-11,...,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,1.0,2.0
4,2,Z209,2010-01-13,201002,2010,23,230440,1519.0,2561417.0,2010-01-13,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34878,2,Z209,2010-12-20,201051,2010,35,355030,1331.0,2077426.0,2010-12-18,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
34879,2,Z209,2010-12-02,201048,2010,35,355070,1576.0,2765845.0,2010-12-02,...,2.0,2.0,1.0,2.0,NaN,4.0,NaN,NaN,1.0,2.0
34880,2,Z209,2010-12-31,201052,2010,35,355030,1331.0,2077426.0,2010-12-31,...,2.0,2.0,2.0,2.0,NaN,3.0,NaN,NaN,1.0,2.0
34881,2,Z209,2010-12-08,201049,2010,41,410830,1363.0,5061989.0,2010-12-08,...,2.0,2.0,2.0,2.0,NaN,4.0,NaN,NaN,9.0,9.0
34882,2,Z209,2010-12-04,201048,2010,41,410830,1363.0,5061989.0,2010-12-04,...,9.0,9.0,9.0,9.0,NaN,4.0,NaN,NaN,1.0,2.0

In [ ]:
import os
from simpledbf import Dbf5

for file in os.listdir('C:/Users/Yuan/Desktop/DBF/files_me'):
        if file.endswith(".dbf"):
                dbf = Dbf5('C:/Users/Yuan/Desktop/DBF/files_me/' + file, codec='ISO-8859-1')
                dbf.to_csv("C:/Users/Yuan/Desktop/DBF/files_me/csv/" + os.path.splitext(file)[0] + ".csv")
                print("C:/Users/Yuan/Desktop/DBF/files_me/" + file + " converted to csv")
# codec='utf-8' --> 'ISO-8859-1'

#dbf = Dbf5("ACBIBR10.dbf", codec='ISO-8859-1')
#dbf.to_csv("qweqwe.csv")
#print("data/" + file + " converted to csv")